---
import Button from "../components/Button.astro";
import "../css/main.css";
---

<footer>
  <div class="info-text">
    <svg
      width="248"
      height="87"
      viewBox="0 0 248 87"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="34.5954"
        cy="43.2441"
        r="33.0951"
        stroke="white"
        stroke-width="3"></circle>
      <circle
        cx="103.964"
        cy="43.2439"
        r="41.7439"
        stroke="white"
        stroke-width="3"></circle>
      <circle
        cx="173.333"
        cy="43.2441"
        r="33.0951"
        stroke="white"
        stroke-width="3"></circle>
    </svg>
    <h2>Få svar på dine spørgsmål</h2>
    <div>
      <p><strong>Vores rejseledere sidder klar til at hjælpe dig.</strong></p>
      <p>
        Med flere hundrede skønne elever om året, har vi hørt de fleste
        spørgsmål vedrørende vores højskoleophold i udlandet mange gange. Vi har
        gjort vores bedste for at svare på de fleste “ofte stillede spørgsmål”
        herunder.
      </p>
      <p>
        Vi håber du finder svar på dine spørgsmål og hvis ikke, er du altid
        velkommen til at ringe til os på kontoret på tlf. <strong
          >7027 9007</strong
        > eller skrive til os på <strong>info@hojskolendk.dk</strong>
      </p>
    </div>
    <div class="button-container">
      <Button title="7027 9007" variant="third" />
      <Button title="info@hojskolendk.dk" variant="third" />
    </div>
    <p>Mandag - Fredag kl. 10.00 - 17.00.</p>
    <div class="some-icons">
      <a href="https://www.tiktok.com/@hojskolendk" target="_blank">
        <svg
          width="16"
          height="18"
          viewBox="0 0 16 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.44 2.82C11.7566 2.03953 11.3799 1.0374 11.38 0H8.29V12.4C8.26666 13.0712 7.98352 13.7071 7.50031 14.1735C7.01709 14.6399 6.3716 14.9004 5.7 14.9C4.28 14.9 3.1 13.74 3.1 12.3C3.1 10.58 4.76 9.29 6.47 9.82V6.66C3.02 6.2 0 8.88 0 12.3C0 15.63 2.76 18 5.69 18C8.83 18 11.38 15.45 11.38 12.3V6.01C12.633 6.90985 14.1374 7.39265 15.68 7.39V4.3C15.68 4.3 13.8 4.39 12.44 2.82Z"
            fill="white"></path>
        </svg>
      </a>
      <a href="https://www.instagram.com/hojskolendk" target="_blank">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.999 7.377C10.7726 7.377 9.59651 7.86417 8.72934 8.73134C7.86217 9.59851 7.375 10.7746 7.375 12.001C7.375 13.2274 7.86217 14.4035 8.72934 15.2707C9.59651 16.1378 10.7726 16.625 11.999 16.625C13.2254 16.625 14.4015 16.1378 15.2687 15.2707C16.1358 14.4035 16.623 13.2274 16.623 12.001C16.623 10.7746 16.1358 9.59851 15.2687 8.73134C14.4015 7.86417 13.2254 7.377 11.999 7.377ZM11.999 15.004C11.2023 15.004 10.4382 14.6875 9.87485 14.1241C9.31149 13.5608 8.995 12.7967 8.995 12C8.995 11.2033 9.31149 10.4392 9.87485 9.87585C10.4382 9.31249 11.2023 8.996 11.999 8.996C12.7957 8.996 13.5598 9.31249 14.1231 9.87585C14.6865 10.4392 15.003 11.2033 15.003 12C15.003 12.7967 14.6865 13.5608 14.1231 14.1241C13.5598 14.6875 12.7957 15.004 11.999 15.004Z"
            fill="white"></path>
          <path
            d="M16.806 8.285C17.4014 8.285 17.884 7.80236 17.884 7.207C17.884 6.61164 17.4014 6.129 16.806 6.129C16.2106 6.129 15.728 6.61164 15.728 7.207C15.728 7.80236 16.2106 8.285 16.806 8.285Z"
            fill="white"></path>
          <path
            d="M20.533 6.111C20.3015 5.51318 19.9477 4.97028 19.4943 4.51706C19.0409 4.06384 18.4979 3.71027 17.9 3.479C17.2003 3.21636 16.4612 3.07434 15.714 3.059C14.751 3.017 14.446 3.005 12.004 3.005C9.562 3.005 9.249 3.005 8.294 3.059C7.54739 3.07356 6.80876 3.2156 6.11 3.479C5.51193 3.71 4.96876 4.06347 4.51533 4.51673C4.0619 4.96999 3.70823 5.51302 3.477 6.111C3.2143 6.81061 3.07261 7.54984 3.058 8.297C3.015 9.259 3.002 9.564 3.002 12.007C3.002 14.449 3.002 14.76 3.058 15.717C3.073 16.465 3.214 17.203 3.477 17.904C3.70888 18.5018 4.0629 19.0446 4.51643 19.4978C4.96997 19.951 5.51306 20.3046 6.111 20.536C6.80843 20.8092 7.54737 20.9614 8.296 20.986C9.259 21.028 9.564 21.041 12.006 21.041C14.448 21.041 14.761 21.041 15.716 20.986C16.4631 20.9708 17.2022 20.8291 17.902 20.567C18.4998 20.3352 19.0426 19.9813 19.496 19.528C19.9493 19.0746 20.3032 18.5318 20.535 17.934C20.798 17.234 20.939 16.496 20.954 15.748C20.997 14.786 21.01 14.481 21.01 12.038C21.01 9.595 21.01 9.285 20.954 8.328C20.9424 7.57027 20.7999 6.82025 20.533 6.111ZM19.315 15.643C19.3085 16.2193 19.2034 16.7902 19.004 17.331C18.8538 17.7199 18.6239 18.073 18.3291 18.3677C18.0342 18.6624 17.681 18.8921 17.292 19.042C16.7572 19.2404 16.1924 19.3456 15.622 19.353C14.672 19.397 14.404 19.408 11.968 19.408C9.53 19.408 9.281 19.408 8.313 19.353C7.74293 19.346 7.17832 19.2408 6.644 19.042C6.25369 18.893 5.899 18.6637 5.60289 18.369C5.30678 18.0742 5.07583 17.7206 4.925 17.331C4.72845 16.7961 4.62331 16.2318 4.614 15.662C4.571 14.712 4.561 14.444 4.561 12.008C4.561 9.571 4.561 9.322 4.614 8.353C4.62046 7.77702 4.72565 7.20642 4.925 6.666C5.23 5.877 5.855 5.256 6.644 4.954C7.17859 4.75614 7.74302 4.65096 8.313 4.643C9.264 4.6 9.531 4.588 11.968 4.588C14.405 4.588 14.655 4.588 15.622 4.643C16.1924 4.64986 16.7574 4.75507 17.292 4.954C17.6809 5.10427 18.0341 5.3342 18.329 5.62903C18.6238 5.92386 18.8537 6.27707 19.004 6.666C19.2006 7.20095 19.3057 7.76516 19.315 8.335C19.358 9.286 19.369 9.553 19.369 11.99C19.369 14.426 19.369 14.688 19.326 15.644H19.315V15.643Z"
            fill="white"></path>
        </svg>
      </a>
      <a href="https://www.youtube.com/@HojskolendkDk" target="_blank">
        <svg
          width="21"
          height="15"
          viewBox="0 0 21 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.607 2.20301C19.4931 1.78041 19.2705 1.39501 18.9614 1.08518C18.6522 0.775338 18.2673 0.551868 17.845 0.437007C16.279 0.00700739 10.014 7.59651e-06 10.014 7.59651e-06C10.014 7.59651e-06 3.75 -0.00699261 2.183 0.404007C1.76093 0.524154 1.37682 0.750785 1.06757 1.06214C0.758311 1.3735 0.534287 1.75913 0.417002 2.18201C0.00400165 3.74801 1.46514e-06 6.99601 1.46514e-06 6.99601C1.46514e-06 6.99601 -0.00399852 10.26 0.406001 11.81C0.636001 12.667 1.311 13.344 2.169 13.575C3.751 14.005 9.999 14.012 9.999 14.012C9.999 14.012 16.264 14.019 17.83 13.609C18.2525 13.4943 18.6377 13.2714 18.9477 12.9622C19.2576 12.653 19.4814 12.2682 19.597 11.846C20.011 10.281 20.014 7.03401 20.014 7.03401C20.014 7.03401 20.034 3.76901 19.607 2.20301ZM8.01 10.005L8.015 4.00501L13.222 7.01001L8.01 10.005Z"
            fill="white"></path>
        </svg>
      </a>
      <a href="https://www.facebook.com/hojskolendk" target="_blank">
        <svg
          width="10"
          height="18"
          viewBox="0 0 10 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.065 17.9972V9.80117H8.83L9.241 6.59217H6.065V4.54817C6.065 3.62217 6.323 2.98817 7.652 2.98817H9.336V0.127169C8.51664 0.0393602 7.69305 -0.00303802 6.869 0.000169166C4.425 0.000169166 2.747 1.49217 2.747 4.23117V6.58617H0V9.79517H2.753V17.9972H6.065Z"
            fill="white"></path>
        </svg>
      </a>
    </div>
  </div>
  <div>
    <h4>Ofte stillede spørgsmål</h4>
    <details name="footer-faq">
      <summary
        >Hvor mange elever er der på et hold?<svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M19.5 8.25L12 15.75L4.5 8.25"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg></summary
      >
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
        voluptate! Provident libero eaque doloremque laboriosam dicta earum
        expedita sunt. Temporibus consequuntur voluptas labore ducimus error.
        Voluptate veritatis fugit earum perspiciatis!
      </p>
    </details>
    <details name="footer-faq">
      <summary
        >Hvad er gennemsnitsalderen på vores ophold?<svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M19.5 8.25L12 15.75L4.5 8.25"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg></summary
      >
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam odit
        iusto in modi tempora repellendus accusamus similique quas dolorum
        aliquam! Iusto magnam modi necessitatibus id neque accusantium nobis
        molestiae soluta.
      </p>
    </details>
    <details name="footer-faq">
      <summary
        >Rejser de fleste alene?<svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M19.5 8.25L12 15.75L4.5 8.25"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg></summary
      >
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A deleniti
        atque incidunt explicabo nobis laborum quos voluptatem quidem dolores
        facilis saepe facere, et velit aspernatur, qui voluptatibus aliquam.
        Doloribus, consequuntur!
      </p>
    </details>
    <details name="footer-faq">
      <summary
        >Er der lige mange drenge og piger med på holdene? <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M19.5 8.25L12 15.75L4.5 8.25"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg></summary
      >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        mollitia ea consequuntur, distinctio alias, consectetur repudiandae
        reprehenderit esse sunt quisquam minus porro molestias. Provident
        voluptatum debitis ipsam beatae quis assumenda.
      </p>
    </details>
    <details name="footer-faq">
      <summary
        >Er undervisningen på dansk?<svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M19.5 8.25L12 15.75L4.5 8.25"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg></summary
      >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
        consequatur rem pariatur earum quos voluptatibus id nam aperiam libero,
        consectetur molestiae possimus magni voluptate praesentium hic ipsa
        dolore consequuntur. Quae.
      </p>
    </details>
    <details name="footer-faq">
      <summary
        >Er der internet de steder vi bor?<svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M19.5 8.25L12 15.75L4.5 8.25"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg></summary
      >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique enim
        dolorum sequi minima error. Aliquid impedit explicabo quas error
        reprehenderit minima aperiam voluptatum voluptatem, laboriosam, dicta
        atque adipisci ipsam sed!
      </p>
    </details>
  </div>
</footer>

<style>
  footer {
    background-color: #ce5501;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 112px 80px;
    gap: 83px;
  }
  .info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
  }
  h2 {
    color: #fff;
    font-family: Dela;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-align: left;
  }
  p {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 20px;
  }
  .some-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  h4 {
    color: #fff;
    font-family: Dela, serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 16px;
  }
  details {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.33);
    cursor: pointer;
  }
  summary {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

  @media (max-width: 800px) {
    footer {
      grid-template-columns: 1fr;
      padding: 40px 30px;
    }
  }
</style>
