---

---

<header>
  <div class="some-icons">
    <a href="https://www.tiktok.com/@hojskolendk" target="_blank">
      <svg
        width="16"
        height="18"
        viewBox="0 0 16 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.44 2.82C11.7566 2.03953 11.3799 1.0374 11.38 0H8.29V12.4C8.26666 13.0712 7.98352 13.7071 7.50031 14.1735C7.01709 14.6399 6.3716 14.9004 5.7 14.9C4.28 14.9 3.1 13.74 3.1 12.3C3.1 10.58 4.76 9.29 6.47 9.82V6.66C3.02 6.2 0 8.88 0 12.3C0 15.63 2.76 18 5.69 18C8.83 18 11.38 15.45 11.38 12.3V6.01C12.633 6.90985 14.1374 7.39265 15.68 7.39V4.3C15.68 4.3 13.8 4.39 12.44 2.82Z"
          fill="black"></path>
      </svg>
    </a>
    <a href="https://www.instagram.com/hojskolendk" target="_blank">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.999 7.377C10.7726 7.377 9.59651 7.86417 8.72934 8.73134C7.86217 9.59851 7.375 10.7746 7.375 12.001C7.375 13.2274 7.86217 14.4035 8.72934 15.2707C9.59651 16.1378 10.7726 16.625 11.999 16.625C13.2254 16.625 14.4015 16.1378 15.2687 15.2707C16.1358 14.4035 16.623 13.2274 16.623 12.001C16.623 10.7746 16.1358 9.59851 15.2687 8.73134C14.4015 7.86417 13.2254 7.377 11.999 7.377ZM11.999 15.004C11.2023 15.004 10.4382 14.6875 9.87485 14.1241C9.31149 13.5608 8.995 12.7967 8.995 12C8.995 11.2033 9.31149 10.4392 9.87485 9.87585C10.4382 9.31249 11.2023 8.996 11.999 8.996C12.7957 8.996 13.5598 9.31249 14.1231 9.87585C14.6865 10.4392 15.003 11.2033 15.003 12C15.003 12.7967 14.6865 13.5608 14.1231 14.1241C13.5598 14.6875 12.7957 15.004 11.999 15.004Z"
          fill="black"></path>
        <path
          d="M16.806 8.285C17.4014 8.285 17.884 7.80236 17.884 7.207C17.884 6.61164 17.4014 6.129 16.806 6.129C16.2106 6.129 15.728 6.61164 15.728 7.207C15.728 7.80236 16.2106 8.285 16.806 8.285Z"
          fill="black"></path>
        <path
          d="M20.533 6.111C20.3015 5.51318 19.9477 4.97028 19.4943 4.51706C19.0409 4.06384 18.4979 3.71027 17.9 3.479C17.2003 3.21636 16.4612 3.07434 15.714 3.059C14.751 3.017 14.446 3.005 12.004 3.005C9.562 3.005 9.249 3.005 8.294 3.059C7.54739 3.07356 6.80876 3.2156 6.11 3.479C5.51193 3.71 4.96876 4.06347 4.51533 4.51673C4.0619 4.96999 3.70823 5.51302 3.477 6.111C3.2143 6.81061 3.07261 7.54984 3.058 8.297C3.015 9.259 3.002 9.564 3.002 12.007C3.002 14.449 3.002 14.76 3.058 15.717C3.073 16.465 3.214 17.203 3.477 17.904C3.70888 18.5018 4.0629 19.0446 4.51643 19.4978C4.96997 19.951 5.51306 20.3046 6.111 20.536C6.80843 20.8092 7.54737 20.9614 8.296 20.986C9.259 21.028 9.564 21.041 12.006 21.041C14.448 21.041 14.761 21.041 15.716 20.986C16.4631 20.9708 17.2022 20.8291 17.902 20.567C18.4998 20.3352 19.0426 19.9813 19.496 19.528C19.9493 19.0746 20.3032 18.5318 20.535 17.934C20.798 17.234 20.939 16.496 20.954 15.748C20.997 14.786 21.01 14.481 21.01 12.038C21.01 9.595 21.01 9.285 20.954 8.328C20.9424 7.57027 20.7999 6.82025 20.533 6.111ZM19.315 15.643C19.3085 16.2193 19.2034 16.7902 19.004 17.331C18.8538 17.7199 18.6239 18.073 18.3291 18.3677C18.0342 18.6624 17.681 18.8921 17.292 19.042C16.7572 19.2404 16.1924 19.3456 15.622 19.353C14.672 19.397 14.404 19.408 11.968 19.408C9.53 19.408 9.281 19.408 8.313 19.353C7.74293 19.346 7.17832 19.2408 6.644 19.042C6.25369 18.893 5.899 18.6637 5.60289 18.369C5.30678 18.0742 5.07583 17.7206 4.925 17.331C4.72845 16.7961 4.62331 16.2318 4.614 15.662C4.571 14.712 4.561 14.444 4.561 12.008C4.561 9.571 4.561 9.322 4.614 8.353C4.62046 7.77702 4.72565 7.20642 4.925 6.666C5.23 5.877 5.855 5.256 6.644 4.954C7.17859 4.75614 7.74302 4.65096 8.313 4.643C9.264 4.6 9.531 4.588 11.968 4.588C14.405 4.588 14.655 4.588 15.622 4.643C16.1924 4.64986 16.7574 4.75507 17.292 4.954C17.6809 5.10427 18.0341 5.3342 18.329 5.62903C18.6238 5.92386 18.8537 6.27707 19.004 6.666C19.2006 7.20095 19.3057 7.76516 19.315 8.335C19.358 9.286 19.369 9.553 19.369 11.99C19.369 14.426 19.369 14.688 19.326 15.644H19.315V15.643Z"
          fill="black"></path>
      </svg>
    </a>
    <a href="https://www.youtube.com/@HojskolendkDk" target="_blank">
      <svg
        width="21"
        height="15"
        viewBox="0 0 21 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.607 2.20301C19.4931 1.78041 19.2705 1.39501 18.9614 1.08518C18.6522 0.775338 18.2673 0.551868 17.845 0.437007C16.279 0.00700739 10.014 7.59651e-06 10.014 7.59651e-06C10.014 7.59651e-06 3.75 -0.00699261 2.183 0.404007C1.76093 0.524154 1.37682 0.750785 1.06757 1.06214C0.758311 1.3735 0.534287 1.75913 0.417002 2.18201C0.00400165 3.74801 1.46514e-06 6.99601 1.46514e-06 6.99601C1.46514e-06 6.99601 -0.00399852 10.26 0.406001 11.81C0.636001 12.667 1.311 13.344 2.169 13.575C3.751 14.005 9.999 14.012 9.999 14.012C9.999 14.012 16.264 14.019 17.83 13.609C18.2525 13.4943 18.6377 13.2714 18.9477 12.9622C19.2576 12.653 19.4814 12.2682 19.597 11.846C20.011 10.281 20.014 7.03401 20.014 7.03401C20.014 7.03401 20.034 3.76901 19.607 2.20301ZM8.01 10.005L8.015 4.00501L13.222 7.01001L8.01 10.005Z"
          fill="black"></path>
      </svg>
    </a>
    <a href="https://www.facebook.com/hojskolendk" target="_blank">
      <svg
        width="10"
        height="18"
        viewBox="0 0 10 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.065 17.9972V9.80117H8.83L9.241 6.59217H6.065V4.54817C6.065 3.62217 6.323 2.98817 7.652 2.98817H9.336V0.127169C8.51664 0.0393602 7.69305 -0.00303802 6.869 0.000169166C4.425 0.000169166 2.747 1.49217 2.747 4.23117V6.58617H0V9.79517H2.753V17.9972H6.065Z"
          fill="black"></path>
      </svg>
    </a>
  </div>
  <div class="center-text">
    <div class="ct1">
      <svg
        width="14"
        height="13"
        viewBox="0 0 14 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.0292631 6.10076C0.0763147 5.01564 1.06146 4.22976 1.90838 3.97888C2.50535 3.80357 3.07585 4.13606 3.18172 4.7557L3.63459 7.38538C3.66694 7.56976 3.90513 7.90829 4.05805 7.93851C4.21097 7.96874 4.5668 7.82668 4.69913 7.69368L11.5304 0.787C11.9715 0.339653 12.7038 -0.0804911 13.3154 0.0132101C13.8448 0.880701 13.6036 2.1774 12.8979 2.93608L6.13126 10.2357C5.2314 11.206 4.26978 12.2065 3.01115 12.7294C2.16129 13.08 0.720333 12.0553 0.482134 11.1969C0.0204409 9.52539 -0.0530771 7.8962 0.0292631 6.10076Z"
          fill="#CE5501"></path>
      </svg>
      <p>4,8/5 stjerner på TrustPilot</p>
    </div>
    <div class="ct2">
      <svg
        width="19"
        height="19"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.8756 7.62238L17.2564 5.38162L17.2791 5.35888C17.8619 4.76655 18.187 3.96793 18.1836 3.137C18.1802 2.30606 17.8486 1.51013 17.261 0.922563C16.6735 0.334998 15.8775 0.00340964 15.0466 2.61484e-05C14.2157 -0.00335734 13.4171 0.321738 12.8247 0.904498C12.8168 0.911498 12.8098 0.919373 12.802 0.927247L10.5612 3.30799L3.50999 0.745257C3.3223 0.677061 3.11906 0.663805 2.9241 0.707042C2.72914 0.75028 2.55056 0.848219 2.4093 0.989369L0.309416 3.08925C0.199053 3.19905 0.114489 3.33202 0.0618469 3.47853C0.00920484 3.62504 -0.0101976 3.78143 0.0050444 3.93636C0.0202864 4.09129 0.0697913 4.24089 0.149975 4.37434C0.230158 4.50778 0.339013 4.62172 0.468657 4.70791L5.70349 8.19722L4.81367 9.08267H3.15126C2.87302 9.08268 2.60616 9.19314 2.4093 9.38978L0.309416 11.4897C0.186632 11.6124 0.0961814 11.7636 0.0461592 11.9298C-0.00386293 12.096 -0.011896 12.272 0.0227786 12.4421C0.0574533 12.6122 0.133754 12.771 0.244852 12.9044C0.355951 13.0377 0.498381 13.1415 0.659397 13.2063L3.74185 14.44L4.97203 17.5146L4.97991 17.5338C5.04675 17.6952 5.15279 17.8373 5.28842 17.9474C5.42406 18.0574 5.585 18.1319 5.75667 18.164C5.92834 18.1961 6.10532 18.185 6.27158 18.1314C6.43783 18.0779 6.58811 17.9838 6.70881 17.8576L8.79207 15.7743C8.88975 15.677 8.96731 15.5613 9.0203 15.434C9.07329 15.3067 9.10069 15.1702 9.10093 15.0323V13.3699L9.98725 12.4836L13.4757 17.7141C13.5618 17.8433 13.6756 17.9519 13.8088 18.0318C13.942 18.1118 14.0912 18.1612 14.2458 18.1766C14.4004 18.1919 14.5565 18.1727 14.7027 18.1204C14.849 18.0681 14.9819 17.984 15.0917 17.8742L17.1916 15.7743C17.3329 15.633 17.431 15.4542 17.4742 15.2591C17.5174 15.064 17.5041 14.8605 17.4357 14.6727L14.8756 7.62238ZM14.516 15.4838L11.0258 10.249C10.9396 10.1198 10.8259 10.0114 10.6927 9.93153C10.5596 9.85165 10.4104 9.80229 10.2559 9.78701C10.221 9.78374 10.1859 9.78228 10.1509 9.78263C10.0129 9.78264 9.87626 9.80984 9.7488 9.86269C9.62134 9.91553 9.50554 9.99298 9.40804 10.0906L7.30815 12.1905C7.11151 12.3874 7.00106 12.6542 7.00104 12.9325V14.5949L6.33433 15.2616L5.52588 13.2404C5.47307 13.1083 5.39395 12.9883 5.29333 12.8876C5.1927 12.787 5.07268 12.7079 4.94053 12.6551L2.9194 11.8466L3.58873 11.1826H5.25114C5.52938 11.1825 5.79624 11.0721 5.9931 10.8754L8.09298 8.77556C8.20319 8.66576 8.28761 8.53285 8.34016 8.38643C8.39271 8.24001 8.41206 8.08374 8.39682 7.92892C8.38158 7.77411 8.33213 7.62461 8.25205 7.49125C8.17196 7.35788 8.06324 7.24398 7.93374 7.15778L2.69978 3.66847L3.42074 2.94664L10.493 5.51812C10.6858 5.5883 10.895 5.60042 11.0947 5.55299C11.2943 5.50557 11.4757 5.40066 11.6164 5.25126L14.3191 2.37967C14.5164 2.18242 14.7839 2.07161 15.0628 2.07161C15.3418 2.07161 15.6093 2.18242 15.8066 2.37967C16.0038 2.57691 16.1146 2.84443 16.1146 3.12338C16.1146 3.40232 16.0038 3.66984 15.8066 3.86708L12.935 6.56981C12.7854 6.7104 12.6803 6.89174 12.6328 7.09141C12.5852 7.29108 12.5972 7.50032 12.6672 7.69325L15.2396 14.7646L14.516 15.4838Z"
          fill="#CE5501"></path>
      </svg>
      <p>Medlem af Rejsegarantifonden</p>
    </div>
    <div class="ct3">
      <svg
        width="15"
        height="16"
        viewBox="0 0 15 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.1533 0H1.46148C1.07387 0 0.702139 0.153977 0.428058 0.428058C0.153977 0.702139 0 1.07387 0 1.46148V5.55363C0 9.52083 1.92331 11.9272 3.53679 13.2476C5.26938 14.6645 7.00342 15.1475 7.0765 15.1687C7.22772 15.2096 7.3871 15.2096 7.53833 15.1687C7.6114 15.1483 9.34545 14.6645 11.078 13.2476C12.6915 11.9272 14.6148 9.52083 14.6148 5.55363V1.46148C14.6148 1.07387 14.4608 0.702139 14.1868 0.428058C13.9127 0.153977 13.541 0 13.1533 0ZM12.861 5.55363C12.861 8.16311 11.9045 10.2808 10.0177 11.849C9.20899 12.5163 8.29243 13.0409 7.30741 13.4003C6.32231 13.0411 5.40572 12.5165 4.59709 11.849C2.71032 10.2808 1.75378 8.16311 1.75378 5.55363V1.75378H12.861V5.55363ZM3.76405 7.92781C3.68248 7.84624 3.61778 7.74941 3.57363 7.64283C3.52949 7.53626 3.50677 7.42204 3.50677 7.30668C3.50677 7.19133 3.52949 7.0771 3.57363 6.97053C3.61778 6.86395 3.68248 6.76712 3.76405 6.68555C3.84562 6.60398 3.94245 6.53928 4.04903 6.49514C4.1556 6.45099 4.26982 6.42827 4.38518 6.42827C4.50053 6.42827 4.61476 6.45099 4.72133 6.49514C4.82791 6.53928 4.92474 6.60398 5.00631 6.68555L6.13823 7.81893L9.60998 4.34645C9.77471 4.18172 9.99814 4.08917 10.2311 4.08917C10.4641 4.08917 10.6875 4.18172 10.8522 4.34645C11.017 4.51118 11.1095 4.73461 11.1095 4.96758C11.1095 5.20055 11.017 5.42397 10.8522 5.58871L6.76009 9.68086C6.67862 9.76261 6.58182 9.82747 6.47523 9.87173C6.36864 9.91599 6.25437 9.93877 6.13896 9.93877C6.02355 9.93877 5.90927 9.91599 5.80268 9.87173C5.6961 9.82747 5.59929 9.76261 5.51783 9.68086L3.76405 7.92781Z"
          fill="#CE5501"></path>
      </svg>
      <p>Rejser for unge siden 2010</p>
    </div>
  </div>
  <div class="help">
    <svg
      width="21"
      height="21"
      viewBox="0 0 21 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.125 0C8.12247 0 6.1649 0.593821 4.49986 1.70637C2.83481 2.81892 1.53706 4.40023 0.770724 6.25033C0.00438702 8.10043 -0.196122 10.1362 0.194554 12.1003C0.585229 14.0643 1.54954 15.8685 2.96555 17.2845C4.38156 18.7005 6.18566 19.6648 8.14971 20.0555C10.1138 20.4461 12.1496 20.2456 13.9997 19.4793C15.8498 18.7129 17.4311 17.4152 18.5436 15.7501C19.6562 14.0851 20.25 12.1275 20.25 10.125C20.247 7.4406 19.1793 4.86699 17.2812 2.96883C15.383 1.07067 12.8094 0.00297771 10.125 0ZM14.2734 12.6825C14.7484 11.914 15 11.0284 15 10.125C15 9.22158 14.7484 8.336 14.2734 7.5675L16.4297 5.41125C17.449 6.77138 18 8.42529 18 10.125C18 11.8247 17.449 13.4786 16.4297 14.8387L14.2734 12.6825ZM7.5 10.125C7.5 9.60582 7.65396 9.09831 7.9424 8.66663C8.23083 8.23495 8.6408 7.8985 9.12046 7.69982C9.60012 7.50114 10.1279 7.44915 10.6371 7.55044C11.1463 7.65172 11.614 7.90173 11.9812 8.26884C12.3483 8.63596 12.5983 9.10369 12.6996 9.61289C12.8009 10.1221 12.7489 10.6499 12.5502 11.1295C12.3515 11.6092 12.0151 12.0192 11.5834 12.3076C11.1517 12.596 10.6442 12.75 10.125 12.75C9.42881 12.75 8.76113 12.4734 8.26885 11.9812C7.77657 11.4889 7.5 10.8212 7.5 10.125ZM14.8388 3.82031L12.6825 5.97656C11.914 5.50161 11.0284 5.25004 10.125 5.25004C9.22158 5.25004 8.336 5.50161 7.5675 5.97656L5.41125 3.82031C6.77139 2.80097 8.4253 2.25 10.125 2.25C11.8247 2.25 13.4786 2.80097 14.8388 3.82031ZM3.82032 5.41406L5.97657 7.57031C5.50161 8.33881 5.25004 9.22439 5.25004 10.1278C5.25004 11.0312 5.50161 11.9168 5.97657 12.6853L3.82032 14.8416C2.80098 13.4814 2.25 11.8275 2.25 10.1278C2.25 8.4281 2.80098 6.77419 3.82032 5.41406ZM5.41407 16.4325L7.57032 14.2762C8.33882 14.7512 9.22439 15.0028 10.1278 15.0028C11.0312 15.0028 11.9168 14.7512 12.6853 14.2762L14.8416 16.4325C13.4814 17.4518 11.8275 18.0028 10.1278 18.0028C8.42811 18.0028 6.7742 17.4518 5.41407 16.4325Z"
        fill="#CE5501"></path>
    </svg>
    <p>Brug for hjælp?</p>
  </div>
</header>

<style>
  header {
    display: flex;
    height: 50px;
    padding: 0 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #ebbb99;
  }
  header div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .some-icons a {
    padding-right: 20px;
  }
  .center-text div {
    padding-right: 20px;
  }
  header div p {
    font-family: Poppins, sans-serif;
    color: #111;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0175rem;
  }

  @media (max-width: 800px) {
    header {
      padding: 10px;
    }
    .some-icons a {
      display: none;
      padding: 0;
    }
    .center-text div {
      padding-right: 0;
    }
    .ct3 svg,
    .ct3 p {
      display: none;
    }
    .help svg,
    .help p {
    }
    header div {
      gap: 5px;
    }
    header div p {
      font-size: 0.7rem;
    }
  }
</style>
