---
import "../css/main.css";
import { Image } from "astro:assets";
import billede1 from "../images/placeholder-img-1.jpg";
import billede2 from "../images/placeholder-img-1.jpg";
import billede3 from "../images/placeholder-img-1.jpg";
import billede4 from "../images/placeholder-img-1.jpg";
import Button from "./Button.astro";
---

<section>
  <div class="card-flex">
    <div class="card">
      <Image src={billede1} class="img" alt="billede af Sarah" width={600} />
      <div class="card-text">
        <h4>3 helt igennem fantastiske måneder i Sydamerika</h4>
        <p>
          “Jeg har oplevet de vildeste ting, se de flotteste ting og jeg har
          gjort det hele med den mest fantastiske gruppe og rejseleder og
          underviser. Man udvikler sig gennem de mange forskellige oplevelser og
          igennem den fantastiske undervisning man får undervejs. Savner
          allerede”
        </p>
        <p class="navn">– Sarah, 24 år</p>
      </div>
    </div>
    <div class="card">
      <Image src={billede2} class="img" alt="billede af Sarah" width={400} />
      <div class="card-text">
        <h4>De mest fantastiske 3 måneder</h4>
        <p>
          “Jeg er lige kommet hjem fra opholdet til "Brasilien, Argentina,
          Bolivia, Peru, Ecuador og Colombia." Vi havde Mattias og Malte (M&M)
          med som rejseleder og underviser. De har været super gode begge to og
          klaret det sindssygt godt. Begge har skabt helt fantastiske rammer,
          som har givet os den fedeste og mest uforglemmelige tur.”
        </p>
        <p class="navn">– Andrea, 19 år</p>
      </div>
    </div>
    <div class="card">
      <Image src={billede3} class="img" alt="billede af Sarah" width={400} />
      <div class="card-text">
        <h4>
          Det her har været den største og mest fantastiske oplevelse i mit liv
        </h4>
        <p>
          Vores rejseleder Elisabeth og underviser Jakob havde styr på alt, de
          skabte tryghed, sørgede for god stemning og gjorde virkelig en positiv
          forskel for vores rejse. Man kunne mærke, at de brændte for
          oplevelserne og for fællesskabet, og det gjorde rejsen endnu mere
          speciel. Det her har været den største og mest fantastiske oplevelse i
          mit liv. Jeg vil aldrig glemme den, og jeg kan kun give mine aller
          varmeste anbefalinger til alle, der overvejer at tage af sted. Det er
          et eventyr for livet
        </p>
        <p class="navn">– Sarah, 24 år</p>
      </div>
    </div>
    <div class="card">
      <Image src={billede4} class="img" alt="billede af Sarah" width={400} />
      <div class="card-text">
        <h4>Et uforglemmeligt eventyr</h4>
        <p>
          “Det her har været den største og mest fantastiske oplevelse i mit
          liv. Jeg vil aldrig glemme den, og jeg kan kun give mine aller
          varmeste anbefalinger til alle, der overvejer at tage af sted. Det er
          et eventyr for livet”
        </p>
        <p class="navn">– Sarah, 18 år</p>
      </div>
    </div>
  </div>
  <div class="button-container">
    <Button variant="primary" title="Læs flere historier" />
  </div>
</section>

<style>
  .card-flex {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 40px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 0 0 auto;
    gap: 24px;
  }

  .card :global(img) {
    aspect-ratio: 9 / 10;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 24px;
  }
  .card-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .navn {
    font-weight: 700;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
  }
</style>
