---
import Button from "../components/Button.astro";
import "../css/main.css";
---

<nav>
  <div class="logo-container">
    <a href="/"
      ><svg
        width="184"
        height="24"
        viewBox="0 0 184 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M177.807 16.3973C177.164 15.2066 176.101 13.3884 174.619 10.9425L172.46 13.5012L172.567 16.5803L167.788 16.7472C167.794 13.9782 167.755 11.3891 167.67 8.98006C167.586 6.57099 167.445 3.98553 167.246 1.22367L172.025 1.05677L172.244 7.32176C174.508 4.64517 176.111 2.4983 177.054 0.881159L183.273 0.663989L177.46 7.54638C178.404 8.91207 179.462 10.3951 180.632 11.9956C181.816 13.5955 182.883 14.9926 183.834 16.1868L177.807 16.3973Z"
          fill="#111"></path>
        <path
          d="M156.631 1.35877C159.037 1.27476 160.948 1.53626 162.366 2.14328C163.783 2.73604 164.787 3.60013 165.378 4.73556C165.981 5.85628 166.311 7.25055 166.369 8.91837C166.425 10.5007 166.153 11.8945 165.555 13.1C164.956 14.3055 164.028 15.2585 162.772 15.9589C161.515 16.645 159.952 17.0207 158.084 17.086C156.945 17.1257 155.787 17.1662 154.609 17.2073C153.432 17.2484 152.242 17.2828 151.039 17.3106C151.043 14.4988 151.003 11.8813 150.918 9.45794C150.832 7.00611 150.692 4.44916 150.496 1.78708C152.014 1.59136 154.059 1.44859 156.631 1.35877ZM158.472 12.8121C159.662 12.7706 160.445 12.4221 160.819 11.7668C161.193 11.1115 161.361 10.2208 161.321 9.09465C161.283 8.01128 161.042 7.14198 160.596 6.48675C160.163 5.83108 159.371 5.52334 158.219 5.56356C156.978 5.60691 156.052 5.68207 155.441 5.78905L155.689 12.9093L158.472 12.8121Z"
          fill="#111"></path>
        <path
          d="M149.348 1.86986C149.342 4.28205 149.387 6.86374 149.484 9.61492C149.58 12.3804 149.715 14.966 149.889 17.372L143.017 17.6119L137.965 6.09944L138.718 17.7621L133.785 17.9343C133.791 15.1653 133.752 12.5763 133.668 10.1672C133.584 7.77242 133.443 5.19408 133.244 2.43222L140.307 2.18556L145.39 14.0181L144.645 2.03408L149.348 1.86986Z"
          fill="#111"></path>
        <path
          d="M121.916 14.4311C126.778 14.2328 130.3 14.0313 132.484 13.8266C132.415 14.4142 132.378 15.022 132.375 15.6501C132.383 16.2635 132.404 17.0406 132.437 17.9814L117.523 18.5022C117.529 15.7332 117.49 13.1442 117.405 10.7351C117.321 8.32606 117.18 5.7406 116.981 2.97874L131.895 2.45793L132.03 6.32811L121.646 6.69073L121.718 8.74343C122.332 8.73623 123.241 8.71164 124.444 8.66963C126.478 8.59858 128.582 8.48231 130.754 8.32082L130.883 11.9986C128.704 11.989 126.598 12.0197 124.563 12.0908C123.36 12.1328 122.452 12.1716 121.839 12.2073L121.916 14.4311Z"
          fill="#111"></path>
        <path
          d="M107.013 14.5451C110.723 14.387 113.792 14.2085 116.219 14.0095C116.078 14.7423 116 15.4444 115.985 16.1157C115.97 16.787 115.979 17.6002 116.013 18.5553L102.481 19.0278C102.487 16.2588 102.447 13.6698 102.363 11.2607C102.279 8.85167 102.138 6.26621 101.939 3.50435L106.622 3.3408L107.013 14.5451Z"
          fill="#111"></path>
        <path
          d="M92.7812 19.5805C89.8509 19.6828 87.6701 19.0525 86.2388 17.6895C84.807 16.3123 84.0464 14.3407 83.9568 11.7749C83.8682 9.23751 84.4836 7.23218 85.803 5.75889C87.1352 4.28514 89.2728 3.49688 92.2159 3.39411C95.1718 3.29089 97.3593 3.92811 98.7783 5.30578C100.21 6.683 100.97 8.64029 101.059 11.1776C101.149 13.7578 100.534 15.7774 99.2141 17.2364C97.8942 18.6954 95.7499 19.4768 92.7812 19.5805ZM92.6289 15.2185C94.0492 15.1689 95.0625 14.8338 95.6686 14.2132C96.2742 13.5783 96.5546 12.6194 96.5098 11.3365C96.466 10.0821 96.1199 9.15934 95.4714 8.56828C94.823 7.97721 93.7886 7.70648 92.3683 7.75608C90.9607 7.80524 89.9541 8.14724 89.3485 8.78209C88.7429 9.41695 88.462 10.3616 88.5058 11.616C88.5501 12.8847 88.8965 13.8146 89.5449 14.4056C90.1933 14.9967 91.2213 15.2676 92.6289 15.2185Z"
          fill="#111"></path>
        <path
          d="M79.003 19.8475C78.3593 18.6569 77.2965 16.8386 75.8146 14.3927L73.6555 16.9515L73.763 20.0305L68.9836 20.1974C68.9894 17.4284 68.9503 14.8394 68.8661 12.4303C68.782 10.0212 68.6405 7.43579 68.4415 4.67393L73.2209 4.50703L73.4397 10.772C75.7036 8.09542 77.3069 5.94855 78.2498 4.33142L84.4687 4.11425L78.6555 10.9966C79.6 12.3623 80.6575 13.8454 81.828 15.4458C83.0113 17.0458 84.0786 18.4429 85.03 19.6371L79.003 19.8475Z"
          fill="#111"></path>
        <path
          d="M51.5715 18.964C51.9812 18.2219 52.3159 17.5322 52.5755 16.8952C52.8479 16.2577 53.104 15.5209 53.3439 14.6847C54.2728 15.2374 55.3444 15.6567 56.5587 15.9426C57.773 16.2284 58.8984 16.3533 59.9349 16.3171C60.9969 16.28 61.742 16.1541 62.1701 15.9393C62.5977 15.7103 62.8073 15.4746 62.7988 15.2323C62.7685 14.3627 61.5632 13.9695 59.1832 14.0526C56.5727 14.1438 54.6685 13.9106 53.4703 13.353C52.2717 12.7811 51.6487 11.8181 51.6014 10.4639C51.5342 8.53951 52.2013 7.09613 53.6026 6.13377C55.0039 5.17142 56.8498 4.65025 59.1403 4.57026C60.4711 4.52379 61.8406 4.66864 63.2488 5.00481C64.6693 5.32628 65.9541 5.79522 67.103 6.41162C66.7648 7.36539 66.4146 8.52654 66.0524 9.89504C65.9856 10.1828 65.9291 10.3989 65.8829 10.5432C65.2098 9.98155 64.2076 9.5313 62.8762 9.19244C61.5442 8.83933 60.3728 8.68043 59.3619 8.71573C58.1463 8.75818 57.3306 8.87944 56.9148 9.07949C56.4985 9.2653 56.2963 9.52926 56.3082 9.87137C56.3202 10.2135 56.6178 10.4814 57.2011 10.6751C57.7967 10.8541 58.6447 10.9244 59.7452 10.886C62.458 10.7913 64.4408 11.0717 65.6936 11.7273C66.9459 12.3686 67.597 13.402 67.6467 14.8275C67.7164 16.8232 67.1141 18.2857 65.8398 19.2151C64.5649 20.1302 62.6031 20.634 59.9543 20.7265C58.5339 20.7761 57.082 20.6555 55.5985 20.3648C54.1145 20.0598 52.7722 19.5929 51.5715 18.964Z"
          fill="#111"></path>
        <path
          d="M49.945 5.29855L50.2086 12.8465C50.3016 15.5121 49.7522 17.5722 48.5603 19.0268C47.3806 20.4667 45.4536 21.2333 42.7792 21.3267C41.2437 21.3803 39.8146 21.1805 38.492 20.7271C37.1821 20.2733 36.0078 19.665 34.969 18.902C35.1813 18.0097 35.35 17.1546 35.4752 16.3367C35.6004 15.5188 35.6844 14.6239 35.7274 13.6519C37.0867 14.789 38.3309 15.5662 39.4601 15.9835C40.5893 16.4008 41.6594 16.5918 42.6703 16.5565C43.7196 16.5198 44.4589 16.23 44.8884 15.6869C45.3178 15.1438 45.5165 14.2306 45.4845 12.9472L45.4278 11.3222C45.3471 9.01289 45.2214 7.06199 45.0504 5.46947L49.945 5.29855Z"
          fill="#111"></path>
        <path
          d="M34.5587 7.11982L33.2682 8.68488C34.1053 9.9116 34.5585 11.5157 34.6277 13.4971C34.7178 16.0772 34.1029 18.0968 32.783 19.5558C31.4631 21.0149 29.3188 21.7962 26.3501 21.8999C24.9169 21.9499 23.6761 21.822 22.6277 21.5161L22.0005 22.2659L17.7489 20.4876L18.9664 19.0321C18.0766 17.7644 17.5963 16.1185 17.5257 14.0943C17.437 11.557 18.0524 9.55162 19.3719 8.07833C20.7041 6.60459 22.8417 5.81633 25.7848 5.71355C27.2692 5.66172 28.5553 5.80234 29.6431 6.13543L30.3072 5.34155L34.5587 7.11982ZM22.0747 13.9355C22.0881 14.3203 22.1338 14.7112 22.2117 15.1081L26.3794 10.0815C26.2893 10.0704 26.1419 10.0684 25.9372 10.0755C24.5296 10.1247 23.523 10.4667 22.9174 11.1015C22.3118 11.7364 22.0309 12.681 22.0747 13.9355ZM30.0787 13.6559C30.0652 13.2711 30.0279 12.937 29.9668 12.6537L25.9098 17.548L26.1977 17.5379C27.6181 17.4883 28.6314 17.1532 29.2375 16.5326C29.8431 15.8978 30.1235 14.9389 30.0787 13.6559Z"
          fill="#111"></path>
        <path
          d="M16.1079 6.50156C16.1025 8.91375 16.148 11.5026 16.2446 14.268C16.3412 17.0334 16.4763 19.6191 16.65 22.0251L12.1394 22.1826L11.9363 16.3666L4.8728 16.6133L5.0759 22.4292L0.565255 22.5868C0.571053 19.8177 0.531889 17.2287 0.447763 14.8196C0.363636 12.4106 0.222103 9.82512 0.0231628 7.06325L4.5338 6.90574L4.7369 12.7217L11.8004 12.475L11.5973 6.65908L16.1079 6.50156Z"
          fill="#111"></path>
      </svg></a
    >
  </div>
  <div class="link-container">
    <a href="rejsekalender">Rejsekalender</a>
    <a href="hojskoleophold">Højskoleophold</a>
    <a href="sommerhojskole">Sommerhøjskole</a>
    <a href="priser">Priser</a>
    <a href="om">Om os</a>
    <a href="kontakt">Kontakt os</a>
  </div>
  <div class="button">
    <Button variant="primary" title="Bestil Ophold" />
  </div>
  <div class="burger">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="40px"
      viewBox="0 -960 960 960"
      width="40px"
      fill="#CE5501"
      ><path
        d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"
      ></path></svg
    >
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 80px;
    align-items: center;
  }
  .link-container {
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: Poppins, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .link-container a {
    text-decoration: none;
    color: #000;
    transition: 0.15s;
  }
  .link-container a:hover {
    color: #ce5501;
  }
  .burger,
  .burger svg {
    display: none;
  }

  @media (max-width: 800px) {
    nav {
      padding: 0 20px;
      height: 80px;
    }
    .link-container a {
      display: none;
    }
    .button {
      display: none;
    }
    .burger,
    .burger svg {
      display: block;
    }
  }
</style>
