* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Dela;
  src: url(fonts/DelaGothicOne-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: Dela, serif;
}

h2 {
  font-family: Dela, serif;
}

h3 {
  font-family: Dela, serif;
}

h4 {
  font-family: Dela, serif;
}

p {
  font-family: Poppins, sans-serif;
}
